[run]
branch = True
source =
    base
    webappname
omit =
    */migrations/*
    */tests/*
    manage.py
    */.venv/*

[report]
show_missing = True
skip_covered = False
fail_under = 0

[html]
directory = coverage_html
